In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [2]:
url = 'https://www.imdb.com/search/title/?groups=top_250&sort=user_rating'

In [3]:
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

In [4]:
movie_data = soup.findAll('div',attrs = {'class':'lister-item mode-advanced'})

In [5]:
movie_name = []
year = []
time = []
genre = []
rating = []
metascore = []
director = []
stars = []
votes = []
gross = []

for data in movie_data:
    name = data.h3.a.text
    movie_name.append(name)
    
    year1 = data.h3.find('span',attrs = {'class':'lister-item-year text-muted unbold'}).text.replace('(','').replace(')','')
    year.append(year1)
    
    time1 = data.p.find('span',attrs = {'class': 'runtime'}).text.replace(' min','')
    time.append(time1)
    
    genre1 = data.p.find('span',attrs = {'class': 'genre'}).text.replace('\n','').replace(' ','')
    genre.append(genre1)
    
    rating1 = data.find('div',attrs = {'class': 'inline-block ratings-imdb-rating'}).text.replace('\n','')
    rating.append(rating1)
    
    meta = data.find('span', attrs = {'class': 'metascore'}).text.replace(' ','') if data.find('span',attrs = {'class': 'metascore' }) else '###'
    metascore.append(meta)
    
    director1 = data.find('p',attrs = {'class': ''}).a.text
    director.append(director1)
    
    stars1 = data.find('p',attrs = {'class': ''}).text.replace('\n','').replace(' ','').replace('|',',').split(',')[1:]
    stars1 = ','.join(stars1).replace('Stars:','')
    stars.append(stars1)
    
    values = data.findAll('span',attrs = {'name': 'nv'})
    
    votes1 = values[0].text.replace(',','')
    votes.append(votes1)
    
    gross1 = values[1].text.replace('$','').replace('M','') if len(values)==3 else '!!!!!!!!!' 
    gross.append(gross1) 
    
#     director.append(director1)

In [10]:
df = pd.DataFrame({'movie_name':movie_name, 'year_of_release': year,'movie_duration': time,'genres':genre,
                 'movie_rating':rating,'metascore':metascore,'director':director,'cast':stars,
                  'votes':votes,'gross_in_million':gross})

In [11]:
df.head()

,movie_name,year_of_release,movie_duration,genres,movie_rating,metascore,director,cast,votes,gross_in_million
0,The Shawshank Redemption,1994,142,Drama,9.3,82,Frank Darabont,"TimRobbins,MorganFreeman,BobGunton,WilliamSadler",2769673,28.34
1,The Godfather,1972,175,"Crime,Drama",9.2,100,Francis Ford Coppola,"MarlonBrando,AlPacino,JamesCaan,DianeKeaton",1928006,134.97
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,84,Christopher Nolan,"ChristianBale,HeathLedger,AaronEckhart,Michael...",2744088,534.86
3,Schindler's List,1993,195,"Biography,Drama,History",9.0,95,Steven Spielberg,"LiamNeeson,RalphFiennes,BenKingsley,CarolineGo...",1394787,96.90
4,12 Angry Men,1957,96,"Crime,Drama",9.0,97,Sidney Lumet,"HenryFonda,LeeJ.Cobb,MartinBalsam,JohnFiedler",821462,4.36